In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movie_metadata.csv').drop_duplicates()

### Какие 10 фильмов были самыми прибыльными?

In [3]:
df['profit'] = df['gross'] - df['budget']

In [4]:
df.sort_values(by='profit', ascending=False).head(10).loc[:,['movie_title', 'title_year', 'profit']].reset_index(drop=True)

                                  movie_title  title_year       profit
0                                     Avatar       2009.0  523505847.0
1                             Jurassic World       2015.0  502177271.0
2                                    Titanic       1997.0  458672302.0
3         Star Wars: Episode IV - A New Hope       1977.0  449935665.0
4                 E.T. the Extra-Terrestrial       1982.0  424449459.0
5                               The Avengers       2012.0  403279547.0
6                              The Lion King       1994.0  377783777.0
7  Star Wars: Episode I - The Phantom Menace       1999.0  359544677.0
8                            The Dark Knight       2008.0  348316061.0
9                           The Hunger Games       2012.0  329999255.0

### Назовите 5 самых долгих фильмов за всю историю. Смотрели ли вы их?

In [5]:
df.sort_values(by='duration', ascending=False).head(5).loc[:,['movie_title', 'title_year', 'country', 'genres', 'duration']].reset_index(drop=True)

,movie_title,title_year,country,genres,duration
0,Trapped,NaN,Iceland,Crime|Drama|Thriller,511.0
1,Carlos,NaN,France,Biography|Crime|Drama|Thriller,334.0
2,"Blood In, Blood Out",1993.0,USA,Crime|Drama,330.0
3,Heaven's Gate,1980.0,USA,Adventure|Drama|Western,325.0
4,The Legend of Suriyothai,2001.0,Thailand,Action|Adventure|Drama|History|War,300.0

нет, не смотрел эти фильмы.

### Какой режиссер снял больше всего фильмов?

In [6]:
df.groupby(['director_name']).count()[['movie_title']].sort_values(by='movie_title', ascending=False).rename(columns={'movie_title':'number_of_movies'}).head(1)

                  number_of_movies
director_name
Steven Spielberg                26

In [7]:
df[df['director_name'] == 'Steven Spielberg'].loc[:,['movie_title', 'title_year', 'country', 'genres', 'profit']].sort_values(by='title_year').reset_index(drop=True)

,movie_title,title_year,country,genres,profit
0,Jaws,1975.0,USA,Adventure|Drama|Thriller,252000000.0
1,Close Encounters of the Third Kind,1977.0,USA,Drama|Sci-Fi,108899130.0
2,1941,1979.0,USA,Action|Comedy|War,NaN
3,Raiders of the Lost Ark,1981.0,USA,Action|Adventure,224374454.0
4,E.T. the Extra-Terrestrial,1982.0,USA,Family|Sci-Fi,424449459.0
5,Indiana Jones and the Temple of Doom,1984.0,USA,Action|Adventure,151870271.0
6,The Color Purple,1985.0,USA,Drama,79175854.0
7,Indiana Jones and the Last Crusade,1989.0,USA,Action|Adventure|Fantasy,149171806.0
8,Hook,1991.0,USA,Adventure|Comedy|Family|Fantasy,49654900.0
9,Jurassic Park,1993.0,USA,Adventure|Sci-Fi|Thriller,293784000.0
10,Schindler's List,1993.0,USA,Biography|Drama|History,74067179.0
11,The Lost World: Jurassic Park,1997.0,USA,Action|Adventure|Sci-Fi,156074524.0
12,Amistad,1997.0,USA,Drama|History,8175394.0
13,Saving Private Ryan,1998.0,USA,Action|Drama|War,146119491.0
14,A.I. Artificial Intelligence,2001.0,USA,Adventure|Drama|Sci-Fi,-21383311.0
15,Minority Report,2002.0,USA,Action|Mystery|Sci-Fi|Thriller,30014112.0
16,Catch Me If You Can,2002.0,USA,Biography|Crime|Drama,112435221.0
17,The Terminal,2004.0,USA,Comedy|Drama,17032279.0
18,Munich,2005.0,France,Drama|History|Thriller,-22620910.0
19,War of the Worlds,2005.0,USA,Adventure|Sci-Fi|Thriller,102277056.0
20,Indiana Jones and the Kingdom of the Crystal S...,2008.0,USA,Action|Adventure|Fantasy,132011114.0
21,War Horse,2011.0,USA,Drama|War,13883359.0
22,The Adventures of Tintin,2011.0,USA,Action|Adventure|Family|Mystery,-57435963.0
23,Lincoln,2012.0,USA,Biography|Drama|History|War,117204440.0
24,Bridge of Spies,2015.0,USA,Drama|History|Thriller,32306065.0
25,The BFG,2016.0,UK,Adventure|Family|Fantasy,-87207693.0

### Какие русские фильмы оказались в рейтинге IMDB? Какой жанр встречается чаще всего? У какого фильма самая большая прибыль?

In [8]:
russian_movies = df[df['country'] == 'Russia'].loc[:,['movie_title', 'title_year', 'genres', 'director_name', 'profit']]

In [9]:
russian_movies.sort_values(by = 'title_year', ascending= False).reset_index(drop=True)

,movie_title,title_year,genres,director_name,profit
0,A Warrior's Tail,2015.0,Adventure|Animation|Fantasy,Maksim Fadeev,NaN
1,Viy,2014.0,Adventure|Fantasy|Mystery|Thriller,Oleg Stepchenko,NaN
2,Machete Kills,2013.0,Action|Comedy|Crime|Thriller,Robert Rodriguez,-12731341.0
3,Hard to Be a God,2013.0,Drama|Sci-Fi,Aleksey German,NaN
4,The Geographer Drank His Globe Away,2013.0,Adventure|Drama,Aleksandr Veledinskiy,NaN
5,Snow Queen,2012.0,Adventure|Animation|Family,Vladlen Barbe,NaN
6,Space Dogs,2010.0,Adventure|Animation|Comedy|Family,Inna Evlannikova,NaN
7,Obitaemyy ostrov,2009.0,Action|Adventure|Sci-Fi,Fedor Bondarchuk,NaN
8,Mongol: The Rise of Genghis Khan,2007.0,Adventure|Biography|Drama|History|War,Sergey Bodrov,-14298357.0
9,Night Watch,2004.0,Fantasy|Thriller,Timur Bekmambetov,-2712523.0
10,The Return,2003.0,Drama|Mystery|Thriller,Andrey Zvyagintsev,NaN

In [10]:
tmp = russian_movies['genres'].str.split('|').apply(pd.Series, 1).stack().droplevel(-1)
tmp.name = 'genres'
del russian_movies['genres']
rus_mov_genres = russian_movies.join(tmp).reset_index(drop=True)

Жанр, чаще всего встречающийся в Русских фильмах, попавших в рейтинг IMDB

In [11]:
rus_mov_genres.groupby(by='genres').count()[['movie_title']].sort_values(by='movie_title', ascending=False).rename(columns={'movie_title':'number_of_movies'}).head(1)

           number_of_movies
genres
Adventure                 7

Самая большая прибыль у Русского фильма попвшего в рейтинг IMDB (скорее менее убыточный)

In [12]:
russian_movies.sort_values(by = 'profit', ascending= False).reset_index(drop=True).head(1)

    movie_title  title_year      director_name     profit
0  Night Watch       2004.0  Timur Bekmambetov -2712523.0

### Назовите самый старый черно-белый фильм.

In [13]:
df[df['color'] == ' Black and White'].sort_values(by = 'title_year').reset_index(drop=True).loc[[0],['movie_title', 'title_year', 'country', 'genres', 'director_name']]

,movie_title,title_year,country,genres,director_name
0,Intolerance: Love's Struggle Throughout the Ages,1916.0,USA,Drama|History|War,D.W. Griffith

### Фильмы какой страны отображены в наибольшем количестве в этой статистике? Какая страна, снимающая фильмы, для вас оказалась самой неожиданной? =)

In [14]:
numb_movies_by_country = df.groupby(['country']).count()[['movie_title']].rename(columns={'movie_title':'number_of_movies'}).sort_values(by='number_of_movies', ascending= False)

In [15]:
numb_movies_by_country.head(1)

         number_of_movies
country
USA                  3773

In [16]:
numb_movies_by_country.index

Index(['USA', 'UK', 'France', 'Canada', 'Germany', 'Australia', 'India',
       'Spain', 'China', 'Italy', 'Japan', 'Mexico', 'Hong Kong',
       'New Zealand', 'South Korea', 'Ireland', 'Denmark', 'Russia', 'Norway',
       'South Africa', 'Brazil', 'Sweden', 'Poland', 'Netherlands', 'Thailand',
       'Romania', 'Argentina', 'Iran', 'Belgium', 'Israel', 'Switzerland',
       'West Germany', 'Czech Republic', 'Iceland', 'Hungary', 'Greece',
       'Taiwan', 'Indonesia', 'Cambodia', 'Colombia', 'Soviet Union', 'Chile',
       'Cameroon', 'Bulgaria', 'Slovakia', 'Turkey', 'Bahamas', 'Aruba',
       'United Arab Emirates', 'Slovenia', 'Egypt', 'Dominican Republic',
       'Kenya', 'Finland', 'Philippines', 'Peru', 'Panama', 'Pakistan',
       'Official site', 'Georgia', 'Nigeria', 'New Line', 'Libya',
       'Kyrgyzstan', 'Afghanistan'],
      dtype='object', name='country')

Самой неожиданной, показалась страна Аруба, которая в 1998 году с населением (87 277 человек) сняла фильм и попала в рейтинг IMDB

In [17]:
df[df.country == 'Aruba'].loc[:, ['movie_title', 'title_year', 'country', 'genres', 'director_name']]

     movie_title  title_year country                  genres director_name
1491  Knock Off       1998.0   Aruba  Action|Comedy|Thriller     Hark Tsui

### Кто самый популярный актер в мире?

In [18]:
actor_1 = df.groupby(['actor_1_name']).sum()[['actor_1_facebook_likes']]
actor_2 = df.groupby(['actor_2_name']).sum()[['actor_2_facebook_likes']]
actor_3 = df.groupby(['actor_3_name']).sum()[['actor_3_facebook_likes']]

In [19]:
all_like = actor_1.merge(actor_2,how='outer', left_index=True, right_index=True).merge(actor_3,how='outer', left_index=True, right_index=True)

In [20]:
all_like['like'] = all_like.iloc[:,:].sum(axis=1)

In [21]:
all_like.sort_values(by='like', ascending=False)[['like']].head(1)

                  like
Johnny Depp  1600000.0

In [25]:
actor_1.loc['Johnny Depp',:]

actor_1_facebook_likes    1600000.0
Name: Johnny Depp, dtype: float64